<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>商家列表</title>
  <base href="http://192.168.43.128:2021/">
  <link rel="stylesheet" href="/public/css/public.css">
  <link rel="stylesheet" href="/public/css/shopList.css">
  <link rel="stylesheet" href="/public/layui-dist/css/layui.css">

  <style>
    .nav {
      position: fixed;
      top: 0;
      left: 4vw;
      right: 4vw;
    }
    body {
      margin-top: 14.666vw;
      /* margin-top: 13.333vw 50px */
    }
  </style>
</head>

<body>
  <div class="nav m-b">
    <a href="/" class="left layui-icon layui-icon-left"></a>
    <h1 class="center">商家列表</h1>
    <div class="right layui-icon layui-icon-refresh-1" onclick="location.reload(true)"></div>
  </div>

  <div class="shopkeeper-list">
  </div>
  <script src="/public/layui-dist/layui.js"></script>
  <script>
    layui.use('flow', function () {
      // 获取 参数 text
      let $ = layui.jquery
      let flow = layui.flow

      flow.load({
        elem: '.shopkeeper-list',
        isAuto: true,
        done(page, next) {
          let lis = []
          let queryStr = location.search
          $.get(`http://192.168.43.128:2021/home/category${queryStr}`, data => {
            let lis = []
            console.log(data)
            layui.each(data, (index, item) => {
              lis.push(`
              <a class="shopkeeper-item radius-big" href="/detail?sid=${item.sid}">
                <img src="${item.slogo}" alt="">
                <div class="content">
                  <div class="header-row clear-f">
                    <h3 class="f-lt">${item.shopname}</h3>
                  </div>
                  <div class="score-row">
                    <span class="layui-icon layui-icon-star-fill"></span>
                    <span><span class="score-num">${(item.score || 0).toFixed(1)}</span>分</span>
                  </div>
                  <div class="position-row">
                    <span class="category">${item.content}</span>
                    <span>&nbsp;</span>
                    <span class="position">${item.scanteen}</span>
                  </div>
                  <div class="slogan">${item.slogan === 'undefined' ? '商家很懒,没有标语' : item.slogan}</div>
                </div>
              </a>
              `)
            })
            next(lis.join(''), page < data.pages);
          })
        }
      })
    })
  </script>
</body>

</html>