<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>河职-预定餐</title>
  <link rel="stylesheet" href="/public//css/public.css">
  <link rel="stylesheet" href="/public/css/index.css">
  <link rel="stylesheet" href="/public/css/iconfont.css">
  <link rel="stylesheet" href="/public/layui-dist/css/layui.css">
  <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/Swiper/5.4.5/css/swiper.min.css">
  <style>
    /* .iconfont {
      font-family: iconfont;
    } */
    .cate-item:nth-child(-n+5) {
      font-weight: 500;
    }
    .cate-item p {
      font-weight: normal;
    }
    .iconfont {
      font-size: 6.4vw;
    }
    .swiper-slide {
      height: 26.666vw;
      width: 100%;
    }
    .swiper-slide img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

  
    .swiper-pagination-bullet {
      transition: width .5s;
      border-radius: 100vw;
      width: 1.2vw;
      height: 1.2vw;
      background-color: #fff;
      opacity: .4;
    }
    .swiper-pagination-bullet-active {
      background-color: #fff;
      width: 7.5vw;
      opacity: .7;
    }
    .shopkeeper-item {
      transition: background-color .1s;
    }
    .shopkeeper-item:active {
      background-color: #ddd;
    }
     


  </style>
</head>
<body style="background-color: #f8f8f8;">
  <div class="search-container">
    <input type="text" placeholder="输入要搜索的内容">
    <div class="icon iconfont icon-sousuo" style="color: #777;" onclick="searchClick()"></div>
    <div class="close"></div>
  </div>

  <!-- 热搜模块 Start -->
  <div class="hot-search">
    <div class="title">热搜:</div>
    <div class="hot-item-row">
      <!-- 只限制 3个 -->
        <!-- <div class="hot-item">川菜</div>
        <div class="hot-item">川菜</div>
        <div class="hot-item">很长很长的文字</div> -->
    </div>
  </div>
  <!-- 热搜模块 End -->

  <!-- 轮播图 Start -->
  <div class="swiper-container radius-big" id="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="http://img.mp.itc.cn/upload/20170605/89b1dda1008f4296a8280909284e9b0b_th.jpg" alt="">
      </div>
      <div class="swiper-slide">
        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1607450429209&di=8b033a0d484cd75c6dfc56efd3d6e62d&imgtype=0&src=http%3A%2F%2Ffiles.b2b.cn%2FPICTUREDEPOT%2F2014%2F20140814%2F20140814132941_1712.jpg" alt="">
      </div>
      <div class="swiper-slide">
        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1607450425926&di=d7a9c2450872f0e8db0d365bf8095b5e&imgtype=0&src=http%3A%2F%2Fimgs.bzw315.com%2Fuploadfiles%2Fnew%2Fimage%2F20130201%2F20130201162439_7131.jpg" alt="">
      </div>
    </div>

    <div class="swiper-pagination"></div>
  </div>
  <!-- 轮播图 End -->
  <script src="https://cdn.bootcdn.net/ajax/libs/Swiper/5.4.5/js/swiper.min.js"></script>
  <script>
    let mySwiper = new Swiper('.swiper-container', {
      autoplay: {
        delay: 3000,//1秒切换一次
      },
      // navigation: {
      //   nextEl: '.swiper-button-next',
      //   prevEl: '.swiper-button-prev',
      // },
      pagination: {
        el: '.swiper-pagination',
        // type: ''
      },
    })
  </script>

  <!-- 分类 Start -->
  <div class="cate-container">
    <a class="cate-item" href="/category?canteen=东湖畔">
      <div class="cate-icon iconfont icon-dong"></div>
      <p>东湖畔</p>
    </a>
    <a class="cate-item" href="/category?canteen=西西里">
      <div class="cate-icon iconfont icon-xi"></div>
      <p>西西里</p>
    </a>
    <a class="cate-item" href="/category?canteen=海成">
      <div class="cate-icon iconfont icon-hai"></div>
      <p>海成</p>
    </a>
    <a class="cate-item" href="/category?canteen=品中食尚">
      <div class="cate-icon iconfont icon-pin"></div>
      <p>品中食尚</p>
    </a>
    <a class="cate-item" href="/category?canteen=枫林">
      <div class="cate-icon iconfont icon-feng"></div>
      <p>枫林</p>
    </a>
    <a class="cate-item" href="/category?cate=米&cate=粉&cate=面">
      <div class="cate-icon iconfont icon-zhushi"></div>
      <p>米粉面</p>
    </a>
    <a class="cate-item" href="/category?cate=甜点&cate=饮品">
      <div class="cate-icon iconfont icon-tiandian"></div>
      <p>甜点饮品</p>
    </a>
    <a class="cate-item" href="/category?cate=早餐">
      <div class="cate-icon iconfont icon-zaocan2"></div>
      <p>早餐</p>
    </a>
    <a class="cate-item" href="/category?cate=小吃&cate=快餐">
      <div class="cate-icon iconfont icon-xiaochi"></div>
      <p>小吃快餐</p>
    </a>
    <a class="cate-item" href="/category?cate=火锅&cate=自选">
      <div class="cate-icon iconfont icon-huoguo"></div>
      <p>火锅自选</p>
    </a>
  </div>
  <!-- 分类 End -->

  <!--预定Top Start-->
  <div class="reserve radius-big item-shadow p-x p-y bg-white">
    <div class="tit-row">
      <h2>人气榜</h2>
      <a href="/reservetop" class="text-small"><span style="vertical-align: baseline;">更多</span>&nbsp;<b class="layui-icon layui-icon-right" style="font-size:var(--smallSize);"></b></a>
    </div>
    <br>
    <div class="reserve-row"></div>
  </div>
  <!-- 预定Top End -->


  <!-- 商家列表 Start -->
  <div class="shopkeeper-list">
  </div>
  <!-- 商家列表 End -->

  <!-- tab-bar Start -->
  <div class="tab-bar" style="margin-bottom: 0;">
    <div onclick="tabBarClick(event, 0)">
      <span class="iconfont icon-home"></span>
      <p>首页</p>
    </div>
    <div onclick="tabBarClick(event, 1)">
      <span class="iconfont icon-order"></span>
      <p>订单</p>
    </div>
    <div onclick="tabBarClick(event, 2)">
      <span class="iconfont icon-profile"></span>
      <p>我的</p>
    </div>
  </div>
  <!-- tab-bar End -->

  <!-- 返回顶部 Start -->
  <div class="return-top">

  </div>
  <!-- 返回顶部 End -->

  <script>
    let pid = Number( location.search.slice(1).split('=')[1] )
    document.querySelectorAll('.tab-bar > div')[pid].classList.add('tab-bar-click')
  </script>
  <script src="/public/layui-dist/layui.js"></script>
  
  <script>
    // 热搜模块
    layui.use('jquery', function() {
      let $ = layui.jquery
      $.get('/home/hot', datas => {
        console.log('----热搜----', datas)
        let hotRow = document.querySelector('.hot-item-row')
        for (let data of datas) {
          hotRow.innerHTML += `<a class="hot-item" href="/search?text=${data.content}">${data.content}</a>`
        }
      });

      // 预定TOP
      $.get('/home/reservetop?month=12', datas => {
        console.log(datas, 'reservetop')

        let containerDOM = document.querySelector('.reserve-row')
        let htmlStr = ''
      
        for (let i=0; i<2; i++) {
          htmlStr += `
          <div class="reserve-item radius" onclick="location.href='/detail?sid=${datas.results[i].sid}'">
            <img src="${datas.results[i].img}" alt="" class="radius">
            <div class="content">
              <p class="tit">${datas.results[i].name}</p>
              <span class="slogan">${datas.results[i].logan===null ? '查看详情':datas.results[i].logan}</span>
              <span class="price-box"><span class="symbol">￥</span><b class="price">${datas.results[i].price}</b></span>
            </div>
          </div>
          `
        }
        containerDOM.innerHTML = htmlStr
      });

    });
    
    layui.use('flow', function(){
      let $ = layui.jquery
      let flow = layui.flow
      //信息流
      flow.load({
        elem: '.shopkeeper-list',
        isAuto: true,
        done(page, next) {
          let lis = []
          $.get(`/home/shoplist?page=${page}`, res => {
            layui.each(res.results, (index, item) => {
              let htmlStr = `
              <a class="shopkeeper-item radius-big item-shadow" href="/detail?sid=${item.sid}">
                <img src="${item.slogo}" alt="" class="radius">
                <div class="content">
                  <div class="header-row">
                    <h3>${item.shopname}</h3>
                    <span>月预定量<span class="reserve-num"> ${ (item.reserve ===null || item.reserve===undefined) ? 0 : item.reserve }</span></span>
                  </div>
                  <div class="score-row">
                    <span class="layui-icon layui-icon-star-fill"></span>
                    <span><span class="score-num">${(item.score===null ? 0 : item.score).toFixed(1)}</span>分</span>
                  </div>
                  <div class="position-row">
                    <span class="category">${item.content}</span>
                    <span>&nbsp;</span>
                    <span class="position">${item.scanteen}</span>
                  </div>
                  <div class="slogan">${item.slogan==='undefined'? '商家很懒,没有标语':item.slogan}</div>
                </div>
              </a>
              `
              lis.push(htmlStr)
            })
            next(lis.join(''), page < res.pages)
          })
        }
      });
    });
  
    function searchClick(){
      try {
        let val = document.querySelector('input').value
        location.href = `/search?text=${val}`
      } catch(err) {

      }
    }
    
    let oldTabBarActiveEl
    function tabBarClick(e, pid){
      if (oldTabBarActiveEl) {
        
        oldTabBarActiveEl.classList.remove('tab-bar-click')
      }
      e.currentTarget.classList.add('tab-bar-click')
      oldTabBarActiveEl = e.currentTarget
      
      if (pid === 0) {
        // 首页
        location.href = '/?pid=0'
      }
      if (pid === 1) {
        // 订单
        location.href = '/order?pid=1'
      }
      if (pid === 2) {
        // 我的
        location.href = '/profile?pid=2'
      }
    }
    
  </script>
</body>
</html>