<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>河职 - 预定餐 - 登录</title>
  <base href="http://192.168.43.128:2021">
  <link rel="stylesheet" href="/public/css/public.css">
  <link rel="stylesheet" href="/public/css/login.css">
</head>
<body>
  <!-- vue -->
  <div id="app">
    <h1>登录河职预定餐 APP</h1>
    <p>在线预定餐 - 方便你我他</p>
    <div class="input-container">
      <div class="input-row">
        <span class="icon"></span>
        <input type="text" name="uname" v-model="uname" @focus="">
      </div>

      <div class="input-row">
        <span class="icon"></span>
        <input type="text" name="pwd" v-model="pwd" @focus="">
      </div>

      <div class="input-row">
        <p>登录</p>
      </div>

      <div class="input-row">
        <p>注册</p>
      </div>
    </div>

    
  </div>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script>
    let app = new Vue({
      el: '#app',
      data: {
        uname: '用户名',
        pwd: '密码',
      },
      methods: {

      }
    })
  </script>
</body>
</html>