<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>河职 - 预定餐 - 登录</title>
  <!-- <base href="http://192.168.43.128:2021"> -->
  <link rel="stylesheet" href="/public/css/iconfont.css">
  <link rel="stylesheet" href="/public/css/public.css">
  <link rel="stylesheet" href="/public/css/login.css">
</head>
<body>
  <!-- vue -->
  <div id="app">
    
    <div class="container">
      <h1>云订餐</h1>
      <p>在线预定餐</p>
      <p>方便你我他</p>
    </div>
    <div class="input-container">
      <div class="input-row">
        
        <input type="text" name="uname" v-model="uname" @focus="" placeholder="用户名" autocomplete="off">
        <span class="icon iconfont icon-uname"></span>
      </div>

      <div class="input-row">
        <input type="password" name="upwd" v-model="upwd" @focus="" placeholder="密码" autocomplete="off">
        <span class="icon iconfont icon-pwd"></span>
      </div>

      <div class="input-row login" @click="loginClick">
        <p>登录</p>
      </div>
      <div class="input-row sigin">
        <p onclick="location.href='/sigin'">注册</p>
      </div>
      <div class="input-row home">
        <p onclick="location.href='/'">首页</p>
      </div>
    </div>

    
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.0/axios.js"></script>
  <script src="/public/layer_mobile/layer.js"></script>
  <script>
    let app = new Vue({
      el: '#app',
      data: {
        uname: '',
        upwd: '',
      },
      methods: {
        async loginClick() {
          console.log('登录')
          let { data } = await axios.post('/user/login', new URLSearchParams({ uname:this.uname, upwd: this.upwd }))
          if ( Number(data) === 1 ) {
            // OK
            layer.open({ content:'登录成功，正在跳转首页', skin:'msg', time:1 })
            setTimeout(() => {
              location.href = '/'
            }, 1000)
          }
          if (Number(data) === 0) {
            layer.open({ content:'密码错误！', skin:'msg', time:1.5 })
          }
          if (Number(data) === -1) {
            layer.open({ content:'此用户不存在！', skin:'msg', time:1.5 })
          }
        }
      }
    })
  </script>
</body>
</html>