<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>我的订单</title>
  <!-- <base href="http://192.168.43.128:2021/"> -->
  <link rel="stylesheet" href="/public/css/iconfont.css">
  <link rel="stylesheet" href="/public/layui-dist/css/layui.css">
  <link rel="stylesheet" href="/public/css/public.css">
  <link rel="stylesheet" href="/public/css/order.css">
  <style>
    .nav {
      position: fixed;
      top: 0;
      left: 4vw;
      right: 4vw;
      z-index: 100;
    }
    body {
      margin-top: 13.333vw 
      /* 50px */
    }
    .iconfont {
      font-size: 6.4vw;
    }
    img {
      object-fit: cover;
            object-position: center;
            box-shadow: 0 0 5px rgba(0, 0, 0, .2);
            border-radius: 10px;
    }
  </style>
</head>
<body>
  <div id="app">
    <div class="nav">
      <a href="/" class="left"></a>
      <h1 class="center">我的订单</h1>
      <div class="right"></div>
    </div>

    <ul class="order-container" v-cloak>
      <li class="order-item p-x p-y radius-big item-shadow m-y" v-for="(item,index) of orderList" :key="index">
        <div class="shop-name">{{item.shopname}}</div>
        <div class="main">
          <div class="img">
            <img :src="item.mimg" alt="">
          </div>
          <div class="content">
            <div class="menu-name">{{item.mname}}</div>
            <div class="price-row">
              <span>￥{{item.price}}</span>
              <span>&nbsp;&nbsp;{{item.canteen}}</span>
            </div>
            <div class="time-row">{{item.time}} 下单</div>
          </div>
        </div>
        <div class="footer-btns m-t">
          <div class="remove btn" :class="{ 'read-only': !item.isremove }" @click="removeClick(item.id, item.isremove, index)">取消预约</div>
          <div class="comment btn" :class="{ 'read-only': item.iscomment }" @click="commentClick(item.sid, item.id ,item.iscomment)">评价</div>
        </div>
      </li>
    </ul>

    <!-- tab-bar Start -->
    <div class="tab-bar" style="margin-bottom: 0;">
      <div onclick="tabBarClick(event, 0)">
        <span class="iconfont icon-home"></span>
        <p>首页</p>
      </div>
      <div onclick="tabBarClick(event, 1)">
        <span class="iconfont icon-order"></span>
        <p>订单</p>
      </div>
      <div onclick="tabBarClick(event, 2)">
        <span class="iconfont icon-profile"></span>
        <p>我的</p>
      </div>
    </div>
    <!-- tab-bar End -->
  </div>
  <script>
    let pid = Number( location.search.slice(1).split('=')[1] )
    document.querySelectorAll('.tab-bar > div')[pid].classList.add('tab-bar-click')
  </script>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.0/axios.js"></script>
  <script src="/public/layer_mobile/layer.js"></script>
  <script>
    let app = new Vue({
      el: '#app',
      data: {
        orderList: null,
      },
      methods: {
        async removeClick(id, isRemove, index){
          /**
           * params @id 订单ID
           * params @isRemove 是否 可以取消订单
           * params @index 数组下标
          */
          if (!isRemove) { 
            layer.open({content: '距离下单时间超过 3小时, 不能取消订单!', btn: '我知道了'})
            return
          }

          let loadIndex = layer.open({ content: '取消中', type:2 })
          axios.post(`/order/remove?id=${id}`)
            .then(val => {
              layer.close(loadIndex)
              this.orderList.splice(index, 1)
              layer.open({ content: '取消成功!', type: 1, skin: 'msg', time: 1.5})
            })
            .catch(err => {
              layer.close(loadIndex)
              layer.open({ content: '遇到未知错误!', type: 1, skin: 'msg', time: 1.5})
            })
         
        },
        
        async commentClick(sid, id, isComment){ 
          /**
           * params @sid 商家id
           * params @id  订单ID
           * params @isComment 是否评论了 如果评论了 就显示 评论日期, 没评论显示 null
          */
          if (isComment) {
            return layer.open({ content:'亲, 您已经评论过啦',  type:1, skin:'msg', time: 1.5})
          }
          
          location.href = `/comment?sid=${sid}&id=${id}`
        },

        
      },
      created() {
        axios.get('/order/all').then(val => {
          this.orderList = val.data
          console.log(val.data)
        })
      }

    })
  
    let oldTabBarActiveEl
    function tabBarClick(e, pid){
      if (oldTabBarActiveEl) {
        
        oldTabBarActiveEl.classList.remove('tab-bar-click')
      }
      e.currentTarget.classList.add('tab-bar-click')
      oldTabBarActiveEl = e.currentTarget
      
      if (pid === 0) {
        // 首页
        location.href = '/?pid=0'
      }
      if (pid === 1) {
        // 订单
        location.href = '/order?pid=1'
      }
      if (pid === 2) {
        // 我的
        location.href = '/profile?pid=2'
      }
    }
  </script>
</body>
</html>