/* 搜搜 Start */
.search-container {
  /* 去掉特殊 */
  margin-top: 4vw;
  margin-bottom: 4vw;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
:placeholder-shown {
  font-size: var(--smallSize);
  color: var(--simpleColor);
  padding-left: 1em;
}
.search-container input {
  flex: 1;
  transition: box-shadow .2s;

  outline: none;
  border: none;
  background-color: rgb(219, 216, 216);
  color: var(--simpleColor);

  border-radius: 100vw;
  padding-left: 2em;
  padding-top: .58em;
  padding-bottom: .58em;
  /* font-size: var(--smallSize); */
}
input:focus {
  box-shadow: 0 0 5px rgba(0,0,0,.2);
}
.search-container > .close {
  visibility: hidden;
  right: calc(12vw + 2.5em);
  top: 50%;
  transform: scale(0) translateY(-50%);
  position: absolute;
  z-index: 1000;
  width: 1em;
  height: 1em;
  background-color: pink;
}
.search-container > .close-show {
  visibility: visible;
  transform: scale(1) translateY(-50%);
}

.search-container > .icon {
  margin-left: 1em;
  width: 12vw;
  height: 11vw;
  transition: transform .08s;

  display: flex;
  align-items: center;
}
.search-container > .icon:active {
  transform: scale(1.2);
}
/* 搜搜 End */

/* 热搜模块 Start */
.hot-search {
  margin-top: 4.5vw;

  display: flex;
  align-items: center;
  width: 100%;

  font-size: var(--middleSize);
}
.hot-search > .title {
  flex: 0 0 auto;
  padding-right: 5px;
}
.hot-item-row {
  flex: 1 1 0%;
  overflow: hidden;   /* hot-item-row 的子项元素 不 */
  display: flex;

  /* justify-content: space-; */
}
.hot-item {
  text-align: center;
  /* flex: 1; */
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: calc(100% / 4);

  letter-spacing: .5px;
  margin: 0 .3em;
  padding: .10em .65em;                     /* !!! */
  border-radius: 100vw;                    /* !!! */
  border: 1px solid #aaa;                /* !!! */
}
/* .hot-item:last-child {
  margin-left: auto;
} */
/* 热搜模块 End */

/* 分类 Start */
.cate-container {
  font-size: var(--smallSize);
  display: flex;
  flex-wrap: wrap;
}
.cate-item:nth-child(1) {
  margin-bottom: 1.8em;
}

.cate-item {
  flex: 1 1 20%;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* 自助餐 */
  --blurGradient: linear-gradient(to bottom, #19efe7, #1a9de1); 

  /* 冬至饺子 */
  --orangeGradient: linear-gradient(to bottom, #fac30e, #f64f02);

  /* 火锅 */
  --hotGradient: linear-gradient(to bottom, #ef8aaa, #f64f02);

  /* 定座 */
  --greenGradient: linear-gradient(to bottom, #adfd09, #0bb751);
}

.cate-item:nth-child(1) .cate-icon,
.cate-item:nth-child(7) .cate-icon,
.cate-item:nth-child(8) .cate-icon {
  background-image: var(--hotGradient);
}

.cate-item:nth-child(2) .cate-icon,
.cate-item:nth-child(4) .cate-icon,
.cate-item:nth-child(5) .cate-icon,
.cate-item:nth-child(9) .cate-icon {
  background-image: var(--orangeGradient);
}

.cate-item:nth-child(3) .cate-icon {
  background-image: var(--greenGradient);
}

.cate-item:nth-child(6) .cate-icon,
.cate-item:nth-child(10) .cate-icon {
  background-image: var(--blurGradient);
}

.cate-icon {
  box-shadow: 0 0 5px rgba(0,0,0,.05) inset;
  position: relative;
  text-align: center;
  width: 12vw;
  height: 12vw;
  border-radius: 50%;
  line-height: 12vw;
  color: white;
}
.cate-icon::after {
  /* content: "";
  position: absolute;
  left: 1px; right: 1px;
  top: 1px; bottom: 1px;

  background-image: inherit;
  border-radius: 50%;
  z-index: -2;
  filter: blur(1px); */
}



.cate-item > p {
  margin-top: 1em;
}
/* 分类 End */

/* 预定TOP Start */
.reserve > .tit-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.reserve-row {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.reserve-item {
  flex: 0 0 48%;
  display: flex;
  max-width: 48%;
  
}

.reserve-item .content {
  display: flex;
  flex-direction: column;
}
.reserve-item .tit {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-top: -.3em;


}
.reserve-item .slogan {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  margin-top: .3em;

  font-size: var(--smallSize);
}
.reserve-item .price-box {
  margin-top: auto;
}

.reserve-row img {
  width: 90px;
  height: 70px;
  margin-right: var(--normalMargin);
  border-radius: 5px;
  object-position: center;
  object-fit: cover;
}
/* 预定TOP End */


/* 商家列表 Start */
.shopkeeper-list {
  padding-bottom: 13.333vw;
}
.shopkeeper-item {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 15px 10px;
  margin-top: 15px;
}
.shopkeeper-item + .shopkeeper-item {
  margin-top: 15px;
}
.shopkeeper-item > img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
}
.shopkeeper-item > .content {
  flex: 1 0 0%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  overflow: hidden;
  margin-left: 15px;
}
.shopkeeper-item .header-row {
  width: 100%;
  overflow: hidden;

  display: flex;
  align-items: center;
  align-self: stretch;
  justify-content: space-around;
  
}.shopkeeper-item .header-row span {
  font-size: var(--smallSize);
  color: var(--themeColor);
}
.shopkeeper-item h3 {
  flex: 1 0 0%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  margin-right: .3em;
  font-weight: 800;
}

.shopkeeper-item .score-row {
  display: flex;
  align-items: center;
}
.shopkeeper-item .score-row .layui-icon {
  color: #FFB800;
  padding-right: .5em;
  margin-top: -0.05em;
}

.shopkeeper-item .position-row {
  color: var(--simpleColor);
  font-size: var(--middleSize);
}
.shopkeeper-item .slogan {
  max-width: 100%;

  font-size: var(--smallSize);
  display: inline-block;
  padding: .1em .7em;
  border: 1px solid #ddd;
  border-radius: 50vw 50vw 50vw 0;             /* Hack写法 */

  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;

  color: var(--themeColor);
}
/* 商家列表 End */

/* Tab-Bar Start */
/* .tab-bar {
  font-size: var(--normalSize);

  margin: 0;
  box-shadow: 0 -2px 8px rgba(0,0,0,.17);

  padding: 0;
  display: flex;
  position: fixed;
  left: 0; right: 0; bottom: 0;
  height: 50px;
  background-color: #fff;
  z-index: 10;

  justify-content: space-around;
  align-items: center;
}
.tab-bar > div {
  text-align: center;
  padding: 5px;
}

.tab-bar-click {
  color: var(--themeColor);
}
.tab-bar > div {
  transition: all .1s;
}
.tab-bar > div:active {
  transform: scale(0.85);
}
Tab-Bar End */