*{margin: 0; padding: 0; box-sizing: border-box;}
ul { list-style: none; }
[v-cloak] {
  visibility: hidden;
}
html {
  overflow-x: hidden;
}
body {
  background-color: #EAE9EF;
  overflow-x: hidden;
}


/* 公共样式 Start */
:root {
  --themeColor: #df5b2b;   /*主题色,  商家标语就是这个颜色*/
  /* --themeColor: #FFB800; */
  --simpleColor: rgba(0,0,0,.55);    /* 浅的文字颜色 */
  --themeBg: #f8f8f8;

  --smallSize: 3.2vw; /* 描述性文本  不重要的*/
  --middleSize: 3.466vw;  
  --normalSize: 3.73vw; /* 14px */
  --bigSize: 4.266vw;    /* 16px */
  --bigIISize: 5.333vw;  /* 20px */

  --normalMargin: 2.666vw;   /* 10px */
}
.bg-white {
  background-color: #fff;
}
body {
  padding: 0 4vw !important;           /* 15px */
}


body .p-y {
  padding-top: 3.2vw;  /* 12px  => iphone 6 */
  padding-bottom: 3.2vw;
}
body .p-x {
  padding-left: 2.666vw;    /* 10px*/
  padding-right: 2.666vw;
}

body .m-y {
  margin-top: 5.333vw;          /* 20px  375下 */
  margin-bottom: 5.333vw;
}
body .m-t {
  margin-top: 5.333vw;
}
body .m-b {
  margin-bottom: 5.333vw;
}
:root .m-full {
  margin-left: -4vw;
  margin-right: -4vw;    /* 抵消上面的 然后100% */
}
body > div {
  margin-top: 5.333vw;      /* 22.5px */
  margin-bottom: 5.333vw;
}


.text-small {
  font-size: var(--smallSize);
  color: var(--simpleColor);
}
.text-weight {
  font-weight: bold;
}

.radius {
  border-radius: 5px;
}
.radius-big {
  border-radius: 9px;
}

.f-lt {
  float: left;
}
.f-gt {
  float: right;
}
.clear-f::after {
  content: "";
  height: 0;
  display: block;
  clear: both;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.btn {
  position: relative;
}
.btn::before {
  content: '';
  position: absolute;
  left: -10px; right: -10px; top: -10px; bottom: -10px;
}

.item-shadow {
  box-shadow: 0 0 20px rgba(0,0,0,.1);
}
/* 公共样式 End */

#app {
  margin-top: 0px; margin-bottom: 50px
}

/* 导航 - 公共样式 Start */
.nav {
  margin-left: -4vw;
  margin-right: -4vw;    /* 15px  375下 */
  background-color: #fff;
  font-size: 2.6vw;

  box-shadow: 0 2px 2px rgba(0,0,0,.07);
}
.nav .center {
  font-weight: 400;
}

.nav {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  margin-top: 0;

  height: 50px;
}

.nav > .left:active {
  transform: translate(-.5em);
}
.nav > .right:active {
  transform: translate(1em);
}

.nav > .center {
  flex: 4;
  text-align: center;
}
.nav > .left,
.nav > .right {
  font-size: var(--bigIISize);
  transition: transform .1s;
  flex:  1 1 0;

  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 8px;
}
.nav > .right {
  text-align: right;
}
/* 导航 - 公共样式 End */


/* Tab-Bar Start */
.tab-bar {
  font-size: var(--normalSize);

  margin: 0;
  box-shadow: 0 -2px 8px rgba(0,0,0,.17);

  padding: 0;
  display: flex;
  position: fixed;
  left: 0; right: 0; bottom: 0;
  height: 50px;
  background-color: #fff;
  z-index: 10;

  justify-content: space-around;
  align-items: center;
}
.tab-bar > div {
  text-align: center;
  padding: 5px;
}

.tab-bar-click {
  color: var(--themeColor);
}
.tab-bar > div {
  transition: all .1s;
}
.tab-bar > div:active {
  transform: scale(0.85);
}
/* Tab-Bar End */
