/* 商家列表 Start */
.shopkeeper-list {
  padding-bottom: 49px;
}
.shopkeeper-item {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 15px 10px;
  margin-top: 15px;
}
.shopkeeper-item + .shopkeeper-item {
  margin-top: 15px;
}
.shopkeeper-item > img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
}
.shopkeeper-item > .content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;

  max-width: calc(100% - 100px);
  padding-left: 15px;
}
.shopkeeper-item .header-row {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}.shopkeeper-item .header-row span {
  font-size: var(--smallSize);
  color: var(--themeColor);
}
.shopkeeper-item h3 {
  max-width: calc(100% - 70px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  font-weight: 800;
}

.shopkeeper-item .score-row {
  display: flex;
  align-items: center;
}
.shopkeeper-item .score-row .score-icon {
  margin-right: .5em;
}
.shopkeeper-item .position-row {
  color: var(--simpleColor);
  font-size: var(--middleSize);
}
.shopkeeper-item .slogan {
  font-size: var(--smallSize);
  display: inline-block;
  padding: .1em .7em;
  border: 1px solid #ddd;
  border-radius: 50vw 50vw 50vw 0;             /* Hack写法 */

  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;

  max-width: 100%;
  color: var(--themeColor);
}
/* 商家列表 End */